table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

td, th {
  text-align: center;
  padding: 5px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  padding-bottom:50px; 
  padding-top:20px;
}

.error {
  background: red;
  color: white;
}

.warning {
  background: #ff7003;
  color: white;
}

form {
  padding-bottom: 30px;
}

#file {
  padding-bottom: 20px;
}