.colorBox {
  float: left;
  width: 10px;
  height: 10px;
  margin: 3px;
  border: 1px solid rgba(0, 0, 0, .2);
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

td, th {
  text-align: center;
  padding: 5px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  padding-bottom:50px; 
  padding-top:20px;
}

.error {
  background: red;
  color: white;
}

.warning {
  background: #ff7003;
  color: white;
}

h4 {
  background: green;
  color: white;
  text-align: center;
}

.content {
  padding: 12px;
}

.error span, .warning span{
  display: inline;
}

.error:not(.collapsed)  span, .warning:not(.collapsed)  span { 
  display: none;
}

.error.collapsed p, .warning.collapsed p{
  display: none;
}

.error p, .error span, .warning p, .warning span {
  float: right; 
  margin: 0px;
}

.warning, .error {
  padding: 12px;
  cursor: pointer; 
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin-bottom: 10px;
}

form {
  padding-bottom: 30px;
}

#file {
  padding-bottom: 20px;
}
